<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Aman Furnitures</title>
	
</head>
<body>
	
	<h3>Login Form </h3>
	<p th:text="${smsg}"></p>
	<p th:text="${errMsg}" class="error"></p>
	
<form th:action="@{/login}" th:object="${user}" method="post">
	<table>
		
		<tr>
			<td>Email:</td>
			<td><input type="email" th:field="*{email}" required ="true"/></td>
			
		</tr>
		<tr>
			<td>Password :</td>
			<td><input type="password" th:field="*{password}" required ="true"/></td>
			
		</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Login" class="btn btn-primary"/></td>
				</tr>
	</table>
	
</form>

</body>
</html>
